.container {
    display: flex;
    width: 100%;
    
    background-color: #f7f6f9;
}

.graph{
    margin: 2vw;
    display: flex;
    justify-content: center;
    flex: 2;

}
.stocks {
    margin: 2vw;
    flex:1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

