.container {
    display: flex;
    background-color: #f7f6f9;
    margin: 0 3vw;
}



.graph{
    display: flex;
    justify-content: center;
    flex: 2;

}
.stocks {
    flex:1 ;
    display: flex;
}

