.container {
    display: flex;
    margin: 0 3vw;
    justify-content: space-between;
}



.graph{
    display: flex;
    justify-content: center;
    flex: 2;

}
.stocks {
    flex:1 ;
    display: flex;
}
.stocks, .graph{
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
}