table {
    border-collapse: collapse;
    color: var(--main-text-color);
}

.card {
    border-bottom: 1pt solid rgb(255, 255, 255);
}

thead td {
    text-align: center;
}
img {
    display: block;
    margin: auto;
    padding: 1vh 0;
    width: 5vh;
    height: 100%;
}