.container {
    display: flex;
    height: 5vh;
    font-size: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    align-items: center;
    color: #ccc;
    font-family:    manrope;
}

.infos {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    width: 100%;
}
img {
    width: 3vh;
}

h1 {
    margin: 0;
}

.infos p {
    color: #ccc;
}

span {
    font-size: 13px;
}

#positive {
    color: hsl(100, 100%, 50%);
    
}
#negative{
    color: red;
}