


form { 
    display: grid;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 20px;
    height: 60%;
}

input {
    font-size: 20px;
    margin: 20px;
    height: 30px;
}