.card {
    flex:1;
    display: flex;
    flex-direction: column;
    row-gap: 1vh; 
}
.input{
    flex:2;
}


.cards, .input, .graph{
    background-color: var(--card-color);
    border-radius: 10px;
    /* margin: 5px; */
    border: 2px solid var(--border-color);
}

.stocks {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    height: 100%; 
}

.container {
    padding: 0;
    margin: 0;
    height: 100%;
}
