

.container {
    background-color: var(--card-color);
    padding: 1vw 3vw;
    display: flex;
    width: max-content;
    flex-direction: column;
    font-family:    manrope;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    width: 70%;
    /* height: 100%; */
}
#title {
    color:var(--secondary-text-color);
    font-size: 125%;
    font-weight: 700;
}
#content {
    color:var(--main-text-color);
    font-weight: 700;
    font-size: 250%;
}

#subcontent {
    color: var(--main-text-color);
    font-weight: 200;
    font-size: 125%;
}